hgroup#address.center
  h2 Tell us where it's going:

form action="index.html" method="link"
  fieldset
    label
      h5 Return Address
    .form-half
      input placeholder="First name" type="text"
        input placeholder="Last name" type="text"
    .form-half
      input placeholder="Address line 1" type="text"
        input placeholder="Address line 2" type="text"
    .form-third
      input placeholder="City" type="text"
        input placeholder="State" type="text"
          input placeholder="Zip code" type="text"
  fieldset
    label
      h5 Recipient Address
    .form-half
      input placeholder="First name" type="text"
        input placeholder="Last name" type="text"
    .form-half
      input placeholder="Address line 1" type="text"
        input placeholder="Address line 2" type="text"
    .form-third
      input placeholder="City" type="text"
        input placeholder="State" type="text"
          input placeholder="Zip code" type="text"
