<header class="breadcrumb">
  <div class="breadcrumb-box">
    <div class="third center">
      <h2 class="current-step circle navbar-example">1</h2>
      <h6>Write</h6>
    </div>

    <div class="third center ">
      <h2 class="circle inactive-step navbar-example">2</h2>
      <h6 class="italic inactive-step">Address</h6>
    </div>

    <div class="third center">
      <h2 class="circle inactive-step navbar-example">3</h2>
      <h6 class="italic inactive-step">Send</h6>
    </div>
  </div>
</header>
