<nav>
    <ul>
      <li class="link"><%= link_to "Write", 'section1' %></li>
      <li class="link"><%= link_to "Address", 'section2' %></li>
      <li class="link"><%= link_to "Send", 'section3' %></li>
    </ul>
</nav>

<div id="section1" class="section"></div>
<div id="section2" class="section"></div>
<div id="section3" class="section"></div>

<ul class="links">
    <li><a href="#section1" class="link">section 1</a></li>
    <li><a href="#section2" class="link">section 2</a></li>
    <li><a href="#section3" class="link">section 3</a></li>
</ul>
