<article class="center-txt" id="write">
  <h2>Start typing!</h2>
  <h5>We'll give you a prompt to write about if you get stuck.</h5>
</article>

<section contenteditable="true">
  <p>Begin with a salutation...</p>
</section>
