<article class="center-txt" id="write">
  <h2>Just fill this out:</h2>
</article>

<form method="link" action="edit">

  <fieldset>

    <label><h5>Salutation</h5></label>
    <div class="form-third">
      <input type="text" placeholder="Hey Grandma!">
    </div>

    <label><h5>What is something new you've learned in the past month?</h5></label>
    <textarea placeholder="I've learned a new programming language..."></textarea>

    <label><h5>What is one of your favorite memories with this person?</h5></label>
    <textarea placeholder="Remember that day we..."></textarea>

    <div class="form-third">
      <label><h5>Closing</h5></label>
      <input type="text" placeholder="With all my love, Jane">
    </div>
  </fieldset>
  <span class="center">
    <input type="submit" value="Preview">
  </span>
</form>
