<article class="center-txt">
  <h2>And your letter is ready to  send.</h2>
</article>

<form class="center" method="link" action="show">
  <button class="blue-button" type="submit">Send Letter</button>
</form>
