---
title: Address
---

<header>
  <div class="breadcrumb-box">
    <div class="third center">
      <h2 class="inactive-step circle">1</h2>
      <h6 class="italic inactive-step">Write</h6>
    </div>

    <div class="third center">
      <h2 class="current-step circle">2</h2>
      <h6>Address</h6>
    </div>

    <div class="third center">
      <h2 class="circle inactive-step">3</h2>
      <h6 class="italic inactive-step">Send</h6>
    </div>
  </div>
<hr>

   <article class="center">
    <h2>Tell us where it's going:</h2>
  </article>

</header>

<form class="page-wrapper" method="link" action="index.html">
  <fieldset>
    <label><h5>Return Address</h5></label>
    <div class="half">
      <input type="text" placeholder="First name">
      <input type="text" placeholder="First name">
    </div>

    <input type="text" placeholder="Address line 1">
    <input type="text" placeholder="Address line 2">

    <div class="form-third">
    <input type="text" placeholder="City">
      <input type="text" placeholder="State">
      <input type="text" placeholder="Zip code">
    </div>
  </fieldset>

  <fieldset>
    <label><h5>Recipient Address</h5></label>
    <div class="half">
      <input type="text" placeholder="First name">
      <input type="text" placeholder="First name">
    </div>

    <input type="text" placeholder="Address line 1">
    <input type="text" placeholder="Address line 2">
    <input type="text" placeholder="City">

    <div class="form-third">
      <input type="text" placeholder="City">
      <input type="text" placeholder="State">
      <input type="text" placeholder="Zip code">
    </div>
  </fieldset>
</form>

<div class="page-wrapper">

  <form class="float-l" method="link" action="write.html">
    <button class="red-button" type="submit">Back</button>
  </form>

  <form class="float-r" method="link" action="send.html">
  <button class="blue-button" type="submit">Next</button>
  </form>

</div>



