<%= render 'breadcrumb' %>

<article class="center">
  <h2>Tell us where it's going:</h2>
</article>

<form class="page-wrapper" method="link" action="index.html">
<fieldset>
  <label><h5>Return Address</h5></label>
  <div class="half">
    <input type="text" placeholder="First name">
    <input type="text" placeholder="First name">
  </div>

  <input type="text" placeholder="Address line 1">
  <input type="text" placeholder="Address line 2">

  <div class="form-third">
    <input type="text" placeholder="City">
    <input type="text" placeholder="State">
    <input type="text" placeholder="Zip code">
  </div>
</fieldset>

<fieldset>
  <label><h5>Recipient Address</h5></label>
  <div class="half">
    <input type="text" placeholder="First name">
    <input type="text" placeholder="First name">
  </div>

  <input type="text" placeholder="Address line 1">
  <input type="text" placeholder="Address line 2">

  <div class="form-third">
    <input type="text" placeholder="City">
    <input type="text" placeholder="State">
    <input type="text" placeholder="Zip code">
  </div>
</fieldset>
</form>

<div class="page-wrapper">

<form class="float-l" method="link" action="write">
  <button class="red-button" type="submit">Back</button>
</form>

<form class="float-r" method="link" action="new-send">
  <button class="blue-button" type="submit">Next</button>
</form>

</div>



