<%= render 'breadcrumb' %>

<section>
  <div class="page-wrapper">
    <%= render 'letter' %>
  </div>
</section>

<section>
  <div class="page-wrapper">
    <%= render 'address' %>
  </div>
</section>

<section>
  <div class="page-wrapper">
    <%= render 'send' %>
  </div>
</section>
