<%= render 'breadcrumb' %>

<section class="clear" data-spy="scroll" data-target=".navbar-example"">
  <div class="page-wrapper">
    <%= render 'letter' %>
  </div>
</section>

<section class="clear" data-spy="scroll" data-target=".navbar-example"">
  <div class="page-wrapper">
    <%= render 'address' %>
  </div>
</section>

<section class="clear" data-spy="scroll" data-target=".navbar-example"">
  <div class="page-wrapper">
    <%= render 'send' %>
  </div>
</section>
