<%= render 'breadcrumb' %>
<script>
var sections = $('.section'),
    links = $('.link'),
    lis = $('.links > li');

$(window).scroll(function() {
    var currentPosition = $(this).scrollTop();
    links.removeClass('selected');
    lis.removeClass('active');
    
    sections.each(function() {
        var top = $(this).offset().top,
            bottom = top + $(this).height();
        
        if (currentPosition >= top && currentPosition <= bottom) {
            var link = $('a[href="#' + this.id + '"]');
            link.addClass('selected');
            link.parent().addClass('active');
        }
    });
    
});</script>

<section>
  <div class="page-wrapper">
    <%= render 'letter' %>
  </div>
</section>

<section>
  <div class="page-wrapper">
    <%= render 'address' %>
  </div>
</section>

<section>
  <div class="page-wrapper">
    <%= render 'send' %>
  </div>
</section>
