<%= render 'breadcrumb' %>

<article class="center-txt">
  <h2>Just fill this out:</h2>
</article>

<form class="page-wrapper" method="link" action="address.html">
  <fieldset>

    <label><h5>Salutation</h5></label>
    <div class="form-third">
      <input type="text" placeholder="Hey Grandma!">
    </div>

    <label><h5>What did you do today?</h5></label>
    <textarea placeholder="I went to work today..."></textarea>

    <label><h5>What was something memorable you saw in the news today?</h5></label>
    <textarea placeholder="People seem to have mixed feelings about Frank Bruni..."></textarea>

    <label><h5>What is one of your favorite memories with this person?</h5></label>
    <textarea placeholder="Remember that day we..."></textarea>

    <div class="form-third">
      <label><h5>Closing</h5></label>
      <input type="text" placeholder="Love,">
    </div>
    <div class="form-third">
      <label><h5>Signature</h5></label>
      <input type="text" placeholder="Joe">
    </div>
  </fieldset>

  <input class="float-r" type="submit" value="Next">

</form>
