$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: darken($base-accent-color, 20);
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size * 1.3;
$form-font-family: $base-font-family;

fieldset {
  background: lighten($blue, 46);
  border: 1px dashed $red;
  box-shadow: 2px 2px 2px 1px $light-gray; margin: 3em 0;
  padding: $base-line-height;

 h5 {
    color: darken($base-accent-color, 30);
  }
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background: lighten($blue, 46);
  border-bottom: 1px solid $light-gray;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height;
  outline: 0;
  padding: ($base-line-height / 2) ($base-line-height / 2);
  resize: none;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);
}


.letter textarea {
  background: white;
  border: 1px solid $light-gray;
  box-shadow: 2px 2px 2px 1px $light-gray; margin: 3em 0;
  font-size: 1em;
  min-height: 600px;
  padding: 2em;
  resize: vertical;

  &:active, &:focus {
    border: 1px solid darken($blue, 40);
    outline: none;
  }
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @include appearance(none);
  background: $base-accent-color;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 1px darken($base-accent-color, 10);
  color: $white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1;
  margin: 1em 0;
  outline: none;
  padding: .5em 2em;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover, &:active, &:focus {
    @include transition (all 0.2s ease-in);
    background: darken($base-accent-color, 6);
    box-shadow: 1px 1px 0px 2px darken($base-accent-color, 14);
    color: #fff;
    outline: 0;
  }
}

.outline {
  background: transparent;
  border-radius: 30px;
  border: 1px solid $white;
  box-shadow: none;
  color: $white;

  &:hover {
    background: rgba($white, .2);
    box-shadow: none;
  }
}
