$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size * 1.3;
$form-font-family: $base-font-family;

fieldset {
  background: lighten($base-border-color, 49);
  border: 1px dashed $red; box-shadow: 2px 2px 2px 1px $light-gray; margin: 3em 0;
  padding: $base-line-height;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs} {
  @include box-sizing(border-box);
  @include transition(border-color);
  background: lighten($base-border-color, 49);
  border-bottom: 1px solid $form-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: none;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-line-height;
  outline: 0;
  padding: ($base-line-height / 2) ($base-line-height / 2);
  resize: vertical;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    outline: none;
  }
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: $base-line-height / 4;
}

input[type="file"] {
  width: 100%;
}

select {
  width: auto;
  margin-bottom: $base-line-height;
}

button,
input[type="submit"] {
  @include appearance(none);
  background: $base-accent-color;
  outline: none;
  border: none;
  padding: 1em 2em;
  box-shadow: 1px 1px 0px 2px darken($blue, 10);
  color: $off-white;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  margin: 1em;
  text-transform: uppercase;
  letter-spacing: 1;
    &:hover, &:active, &:focus {
      background: darken($base-accent-color, 10);
      box-shadow: 1px 1px 0px 2px darken($blue, 20);
      outline: 0;
    }
}
