// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$merriweather: 'merriweather', $serif;
$actor: 'Actor', $sans-serif;
$icon-font: 'FontAwesome';

$base-font-family: $actor;
$header-font-family: $actor;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.55;
$base-border-radius: em(3);

// Colors
$blue: #3B7BB0;
$dark-blue: #1B3350;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
$brown: #6E5226;
$light-brown: #F2EAD7;
$red: #BF4042;
$white: #fff;
$off-white: #F3F3F3;

//  Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$secondary-accent-color: $red;

//  Text Link Colors
$base-link-color: darken($base-accent-color, 10);
$hover-link-color: darken($blue, 15);

// Border color
$base-border-color: $base-accent-color;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
