---
title: Sent Confirmation
---
<header class="index italic center-txt">
    <h1>Sent!</h1>
</header>

  <article class="page-wrapper">
    <h3 class="center-txt">Your letter is in the mail. Way to go!</h3>
  </article>

<form class="page-wrapper" method="link" action="write.html">
    <button class="red-button center italic" type="submit">Send another letter</button>
</form>
