---
title: Send 
---
<header>

  <div class="breadcrumb-box">
    <div class="third center">
      <h2 class="inactive-step circle">1</h2>
      <h6 class="italic inactive-step">Write</h6>
    </div>

    <div class="third center">
      <h2 class="inactive-step circle">2</h2>
      <h6 class="italic inactive-step">Address</h6>
    </div>

    <div class="third center">
      <h2 class="current-step circle">3</h2>
      <h6>Send</h6>
    </div>
  </div>

</header>
<hr>

  <section class="center-txt">
    <h2>And your letter is ready to  send.</h2>
    <h5>Be sure to proof before sending!</h5>
  </section>

<fieldset class="page-wrapper">
  <form class="half float-l" method="link" action="write.html">
    <button class="red-button" type="submit">Review Information</button>
  </form>
  <form class="half float-r" method="link" action="confirmation.html">
  <button class="blue-button" type="submit">Send Letter</button>
  </form>
</fieldset>
