<header class="index italic center-txt">
    <h1>Go Postal</h1>
</header>

  <article class="page-wrapper">
    <h3 class="center-txt">That letter you've been meaning to write but just haven't had time - let's take care of it.</h3>
  </article>

<form class="page-wrapper" method="link" action="static_pages/new">
    <button class="red-button center italic" type="submit">Write a Letter</button>
</form>
