section.tabs {
  margin-top: 7em;
}

.bettertabs {
  @include span-columns(9);
  @include shift(2.5);
  margin: 0;

ul.tabs {
  position: relative;
  border-bottom: 1px solid $base-border-color;
  padding-bottom: 2.3em;

    li {
      display: inline;
      float: left;
      font-size: 1.3em;
      line-height: 24px;
      list-style: none outside none;
      margin-right: .2em;
      padding: .3em .8em;
      position: relative;
      top: 1px;
      z-index: 1;

      &.active {
        background: $white;
        border-color: $base-border-color $base-border-color transparent $base-border-color;
        border-style: solid;
        border-radius: 3px 3px  0px;
        border-width: 1px;
      }

      &:active, &:focus {
        a {
          border-radius: 4px;
          background: $off-white;
          color: $hover-link-color;
        }
      }

      a {
        color: $base-accent-color;
        font-size: 80%;
        padding: 0 .4em;
        text-decoration: none;
        float: left;
      }
    }
  }
}

.content {
  border-left: 1px solid $base-accent-color;
  clear: left;
  height: 100%;
  padding: 1em;
  z-index: 2;

  &.hidden {
    display: none;
  }
}
