@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Actor);

@import 'normalize';
@import 'bourbon';
@import "bitters/bitters";
@import 'bitters/grid-settings';
@import 'neat';

@import 'custom';
@import 'helper';
@import 'nav';
@import 'tabs';

html{
  background: $white;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1;
  text-shadow: rgba($off-white, .3) 0 0 1px;
}

/* miscellaneous */

.debug_dump {
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.outer-container {
  @include outer-container;
}
