ul.prompt {
  @include fill-parent;
  background: lighten($blue, 45);
  display: none;
  height: auto;
  opacity: .9;
  position: fixed;
  top: 4.8em;
  z-index: 2;

  p {
    color: $blue;
    font-weight: 300;
    line-height: 1.5em;
    margin: .5em;
    text-align: center;
  }
}

section {
  @include outer-container;
}

hgroup {
  margin-top: 5em;
}

article {
  margin: 2em 0;
}

.half {
  @include span-columns(6);
    input {
      @include omega(2)
    }
}

.third {
  @include span-columns(4);
  @include omega(3);
}

.form-half {
  @include clearfix;

  input {
    float: left;
    margin-right: 2%;
    width: 49%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.form-third {
  @include clearfix;

    input {
      float: left;
      margin-right: 2%;
      width: 32%;

      &:last-of-type {
        margin-right: 0;
      }
    }
}

footer {
  background: darken($white, 5);
  border-top: 1px solid darken($white, 9);
  height: 100px;
  margin-top: 300px;
  width: 100%;

  p {
    color: $dark-blue;
    font-size: $base-font-size + .4em;
    font-weight: 300;
    line-height: 55px;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
