//Navigation

header#banner {
  @include span-columns(12);
  background-color: $red;
  height: 400px;
  overflow: hidden;
  padding: 9em 0;
  p {
      color: $off-white;
  }
}

nav {
  @include span-columns(12);
  @include pad(1em 0);
  letter-spacing: 1;
  text-transform: uppercase;

  ul {
    list-style: none;

    li {
      @include pad (1.02em 2.5em);
      display: inline;
    }
  }
}

nav.global {
  background-color: $red;
  border-bottom: 1px dashed darken($red, 10);
  font-size: .85em;
  height: 3em;
  text-align: right;

  a {
    color: $white;
  }
}

nav.actions {
  background-color: $base-accent-color;
  border-bottom: 1px solid darken($base-accent-color, 10);
  font-size: 1.2em;
  height: 4em;
  text-align: center;

  li {
    &:hover, &:active, .active {
      background: darken($blue, 10);
    }
  }
}

.navbar-fixed {
  position: fixed;
  top: 0;
  z-index: 100;
}

#nav_bar {
  height: auto;
  margin-bottom: 0;
}


ul.prompt {
  @include fill-parent;
  background: lighten($blue, 45);
  display: none;
  height: auto;
  opacity: .9;
  position: fixed;
  top: 4.8em;
  z-index: 2;

  p {
    color: $blue;
    font-weight: 300;
    line-height: 1.5em;
    margin: .5em;
    text-align: center;
  }
}

//Structure

section {
  @include outer-container;
  margin-bottom: 4em;
  padding: 0 1em;
}

hgroup {
  margin-top: 5em;
}

article {
  margin: 2em 0;
}

.half {
  @include span-columns(6);
    input {
      @include omega(2)
    }
}

.third {
  @include span-columns(4);
  @include omega(3);
}

.form-half {
  @include clearfix;

  input {
    float: left;
    margin-right: 2%;
    width: 49%;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.form-third {
  @include clearfix;

    input {
      float: left;
      width: 32%;
      margin-right: 2%;

      &:last-of-type {
        margin-right: 0;
      }
    }
}

footer {
  background: darken($white, 5);
  border-top: 1px solid darken($white, 9);
  height: 100px;
  margin-top: 300px;
  width: 100%;

  p {
    color: $dark-blue;
    font-size: $base-font-size + .4em;
    font-weight: 300;
    line-height: 55px;
  }
}

.button {
  border: 1px solid darken($base-accent-color, 20);
  border-radius: 30px;
  width: auto;
  display: inline-block;
  padding: .2em .5em;

  &:hover {
  @include transition (all 0.2s ease-in);
  background-color: darken($base-accent-color, 40);
  color: #fff;
  }
}

section.user-info {
  @include span-columns(3);
  background: #fff;
  border: 1px dashed $red;
  padding: 2em;
}

.gravatar {
  img {
    @include size(10em);
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 0 0 9px darken($light-gray, 20);
    display: block;
    margin: 0 auto 1.3em;
  }
}

.username {
  font-size: 1.3rem;
  letter-spacing: 1px;
  line-height: $base-line-height;
  border-top: 1px solid darken($base-accent-color, 20);
  padding-top: 1em;
  margin-top: 1em;
  text-transform: uppercase;

  .email {
    font-size: 1rem;
    text-transform: none;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
